<section class="post">
<h2><%=blog.title%></h2>
<p class="meta">
    <span class="left">Date: <strong><%=blog.created_at.strftime("%Y/%m/%d")%></strong></span><span class="left">posted by <strong><%=blog.user.present? ? blog.try(:user).try(:nickname) : "Admin"%></strong></span>
    <span class="left tags"><%=blog.tags%></span> 
    <!-- <span class="left comment"> <a href="#" title="">46 Comments</a></span> -->
</p>
       <%#blog.assets.each do |asset|%>
<%=link_to image_tag(blog.cover.url,:class=>"prettyPhoto[gal]"),blog%>
       <%#end%>
<p><%=raw truncate(strip_tags(blog.content),:length=>130)%></p>
<h4>Tags: <%=blog.tags%></h4>
<a href="/blogs/<%=blog.id%>" class="buttonhome">&rarr; more</a>
</section> 