<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_ngo.name %>
</p>

<p>
  <b>Info:</b>
  <%= @admin_ngo.info %>
</p>

<p>
  <b>Position:</b>
  <%= @admin_ngo.position %>
</p>


<%= link_to 'Edit', edit_admin_ngo_path(@admin_ngo) %> |
<%= link_to 'Back', admin_ngos_path %>
